.note .title {
  outline: none;
  border: none;
  font-size: 2.6rem;
  font-weight: bolder;
  margin: 0;
  padding: 0px 0 20px;
  overflow-wrap: normal;
  word-wrap: break-word;
}

.note .tags, .note .tags:focus {
  border: none;
  outline: none;
}

.note .tags {
  margin-bottom: 20px;
}
.note .title {
  padding-top: 0px;
}



