html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
  font-size: 1.2rem;
	background-color: #eee;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
}

a:link { color: #1a0dab; }
/* a:visited { color: #551A8B; } */
a:visited { color: #1a0dab; }
a:hover {
	text-decoration: none;
  opacity: .7;
}

pre {
	overflow-x: scroll;
}
pre code {
	overflow-wrap: normal;
	word-wrap: normal;
}

pre code.hljs {
  font-size: .9rem;
  padding: 2em 1.5em;
}

.txtwhite {
  color: #fff !important;
}

.txtdark {
  color: #333 !important;
}

table {
  overflow-wrap: break-word;
  display: block;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  white-space: nowrap;
}

table th, table td {
  margin: 0;
  padding: 6px 12px;
  border: solid 1px #ddd;
  vertical-align: text-top;
}

td {
  display: table-cell;
}

.preview blockquote {
  font-style: italic;
  font-weight: 300;
  color: #999;
  border-left: solid 2px #ddd;
  margin: 0;
  padding-left: 1rem;
}
