html, body {
  margin: 0;
  height: 100%;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

